<html lang="sl">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.sandstone.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/styles.css" />
  <link rel="stylesheet" href="/stylesheets/chatTest.css" />
  <link rel="stylesheet" href="/stylesheets/loginPage.css" />
  <link rel="stylesheet" href="/stylesheets/signupPage.css" />
  <link rel="stylesheet" href="/stylesheets/adminDogodki.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css" />

  {{!-- pomembno, da se nalozi pred vsebino --}}
  <script src="/javascripts/kontrolaNeprijavljeniUporabnik.js"></script>

  <title>{{title}}</title>
  <link rel="icon" type="image/x-icon" href="/images/GoodMeetsLogo.png">
</head>

<body>

  {{#if chat}}
  {{>main_nav}}
  {{else if admin}}
  {{>admin_nav}}
  {{/if}}

  <main>

    {{#if chat}}
    {{{body}}}
    <div class="container">
      {{else if admin}}
      <div class="container {{#if adminDogodki}}d-flex justify-content-center{{/if}}">
        {{{body}}}
        {{else}}
        <div class="container containerFull">
          {{{body}}}
          {{/if}}

          <footer class="footerLogSign">
            <div class="row paddingFooterLogSign">
              <div class="col-12">
                <small>
                  &copy;
                  <script>
                    document.write(new Date().getFullYear());
                  </script> GoodMeets
                </small>
              </div>
            </div>
          </footer>

        </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

  <script>
    function openNav() {
      document.getElementById("main-sidebar-container").style.marginLeft = "0%";
    } function closeNav() {
      document.getElementById("main-sidebar-container").style.marginLeft =
        "-100%";
    }
  </script>
  <script src="/javascripts/loggedUser.js"></script>
  <script src="/javascripts/uporabnik.js"></script>
  <script src="/javascripts/code.js"></script>
  <script src="/javascripts/adminSearch.js"></script>
</body>

</html>